body{
  font-family: 'Unica One', cursive;
}
.calendar__gridContain___6uH14{
  max-width:960px;
  display: flex;
  flex-wrap: wrap;
}
.calendar__cell___2j1BR{
  border: 1px solid gray;
  width: 14%;

}
.calendar__date___2u2N9{
  height: 100px;
}
.calendar__monthToggle___3pnzn{
  flex:1;
}
.calendar__monthAdd___3ZvKF, .calendar__monthSub___37j2B{
  cursor: pointer;
}
@media screen and (min-width: 640px){

}
