body{
  font-family: 'Unica One', cursive;
}
.calendar__dayRow___ffc2Y{
  display: none;
}
.calendar__monthToggle___3pnzn{
  flex:1;
}
.calendar__monthAdd___3ZvKF, .calendar__monthSub___37j2B, .calendar__yearAdd___3VzzT, .calendar__yearSub___18etO{
  cursor: pointer;
  font-size:1.2rem;
}
.calendar__noDay___124mR{
  background:lightgray;
  display:none;
}
.calendar__dateNum___Mg15R{
  margin:0;
  display: none;
}
@media screen and (min-width: 640px){
  .calendar__gridContain___6uH14{
    max-width:960px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .calendar__cell___2j1BR{
    border: 1px solid gray;
    width: 13%;
    display: block;
  }
  .calendar__date___2u2N9{
    height: 100px;
  }
  .calendar__dateNum___Mg15R{
    display:block;
  }
  .calendar__displayDate___3sFv1{
    display:none;
  }
}
